h1 {
  color: blue;
}

section .container {
  display: flex;
  flex-direction: row;
}
section .currency {
  border: solid 2px;
  background: #b2d5ff;
  margin-bottom: 1em;
}
section .currency:hover {
  background: red;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
